This document lists the minimal requirements an instrument must have to participate in E-PROIFLE

General
-------
- send all required files with same timing to one directory per station on MetOffice FTP
- provide all information needed for config_WigosID_InstID.yaml
- update date of last calibration, changes in calibration method, covariance matrix and date of last covariance matrix

RPG
---
- binary level 1 files
- for each time step the HKD file plus either BRT or BLB or both must be provided
- IRT and MET files are optional