__pycache__/
*.py[cod]
# poetry.lock  #TODO: undo this once pyproject.toml makes deployment work with newest versions of dependencies again
.coverage
*log.txt
.idea/
.~lock.*

offline/
dist/
docs/_build/*
mwr_raw2l1/data/output/*
mwr_raw2l1/data/**/orig/
mwr_raw2l1/logs/log*
tests/data/output/*.nc

# TODO: binaraies in dist and docs/_build do not seem to be ignored. Imperatively fix this. Maybe needs abs path.
