[tool.poetry]
name = "mwr_raw2l1"
version = "0.1.3"
description = ""  # TODO: add description
authors = ["rruefenacht <rruefenacht@users.noreply.github.com>"]

[tool.poetry.dependencies]
python = ">=3.8,<3.11"  # for scipy
netCDF4 = "^1.5.8"
PyYAML = "^6"
numpy = "^1.21"
scipy = "^1.7.3"
xarray = "^0.20.2"
ephem = "^4.1"  # used for setting sun-in-beam flag in quality_flag
colorlog = {version = "^6.6", optional = true}

[tool.poetry.dev-dependencies]
matplotlib = "^3.5.2"
flake8 = "^4.0.1"
isort = "^5.10.1"
Sphinx = "^5.0.2"
sphinx-rtd-theme = "^1.0.0"
sphinxcontrib-napoleon = "^0.7"


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
mwr_raw2l1 = "mwr_raw2l1.__main__:main"

[tool.poetry.extras]
colorlog = ["colorlog"]

[tool.isort]
line_length = 120
