# config file for setting log destination and level
###################################################

logger_name: 'mwr_raw2l1'


# configure logging to console (stdout). Logging to stdout is enabled in any case
# -------------------------------------------------------------------------------
loglevel_stdout: INFO  # level specification acceptable for logging module

# configure logging to file (only takes effect if write_logfile is set True)
# CARE: Each run generates a new file. Consider while specifying timestamp_format to avoid overwriting
# ----------------------------------------------------------------------------------------------------
write_logfile: True
logfile_path: mwr_raw2l1/logs/  # absolute or relative to project dir
logfile_basename: log_  # full filename will be logfile_basename + timestamp + logfile_ext
logfile_ext: .txt  # file extension for log files
logfile_timestamp_format: '%Y%m%d%H%M%S'  # valid format for datetime's strftime()
loglevel_file: INFO  # level specification acceptable for logging module
